@import url('https://fonts.googleapis.com/css?family=Montserrat');

body, html {
  font-family: 'Montserrat';
}

.logo-title {
  color: white;
  font-size: 48px;
}

.short-fadein {
  animation-name: fadein;
  animation-duration: 2s;
}
.long-fadein {
  animation-name: fadein;
  animation-duration: 3s;
}

@keyframes fadein {
  0% {
    transform: translateX(-40px);
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

.appbar-button {
  margin: 10px;
}

.carousel-caption {
  top: 50%;
  transform: translateY(-20%);
}

.products-title {
  text-align: center;
}

.nav-item-button {
  font-size: 20px;
}

.product-img {
  border-radius: 50%;
}

.carousel .item {
  height: 475px;
}

.navbar {
  min-height: 80px;
  margin-bottom: 0px;
  border-radius: 0px;
}

.navbar-brand {
  padding: 0 15px;
  margin-top: 20px;
  height: 40px;
  line-height: 80px;
}

.navbar-toggle {
  /* (80px - button height 34px) / 2 = 23px */
  margin-top: 23px;
  padding: 9px 10px !important;
}

@media (min-width: 768px) {
  .navbar-nav > li > a {
    /* (80px - line-height of 27px) / 2 = 26.5px */
    padding-top: 26.5px;
    padding-bottom: 26.5px;
    line-height: 27px;
  }
}

footer {
  position: relative;
  text-align: center;
  background-color: #222222;
  color: white;
  font-size: 18px;
  padding: 5px;
  top: 50%;
  height: 80px;
}

footer span {
  position: absolute;
  bottom: 20px;
  text-align: center;
  left: 45%;
}